/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label {
  font-weight: bold;
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}


form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }
  
  form div {
    display: block;
  }
  
  form label {
    display: flex;
    padding: 1px;
  }
  
  .about {
    display: flex;
    align-items: center;
  }

  .aboutitem {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    gap: 5px;
  }

  .aboutitem img {
    max-width: 48%;
    max-height: 100%;
  }

  .aboutcontent {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .aboutcontent p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-left: 20px;

  }

  .piclabel {
    display: block;
  }

  .ideasdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .ideapic {
    width: 48%;
    margin-bottom: 2%;
  }
  
  .piclabel {
    text-align: center;
  }
  
  .piclabel h3 {
    margin-top: 0;
  }

  .host {
    display: flex;
  }

  .hosttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .host img {
    width: 50%;
  }
}